<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
namespace="com.wanmait.demo.dao.UserDAO">
<select id="findById" parameterType="int" resultType="User">
select * from bs_user where id=#{id}
</select>
<select id="findAll" resultType="User">
select * from bs_user where enable=1
</select>
<insert id="insert" parameterType="User">
	insert into bs_user(username,password,name) values(#{username},#{password},#{name})
</insert>

</mapper>